{% extends 'base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block body %}

    <h1>Liste des Ingrédients</h1>

    <ul>
    {% for ingredient in ingredients %}
        <li>
            <span class="ingredient">{{ ingredient.nom }}</span>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
