<ul>
    {% for recette in recettes %}
        <li><a href="{{ path('app_recette_show', {id: recette.id}) }}" class="recettes"><span class="recette">{{ recette.nom }}</span></a></li>
    {% endfor %}
</ul>