{% set title = "Nouvelle recette " %}

{% extends 'base.html.twig' %}

{% block body %}

    <h1> {{ title }}</h1>
    <h4> Votre recette a bien été créée ! </h4>

{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}