{% set title = recette.nom %}

{% extends 'base.html.twig' %}

{% block body %}

        <h1> Édition de la recette : {{ title }}</h1>

{% endblock %}

{% block title %}
    Édition de {{ title }}
{% endblock %}
