{% extends 'base.html.twig' %}

{% block title %}Les Allergenes{% endblock %}

{% block body %}

    <h1> Liste des Allergenes </h1>
    <ul>
        {% for allergene in Allergenes %}
            <li>
               <a href="{{ path('app_allergene_show', {id: allergene.id}) }}"><span class="allergene">{{ allergene.nom }}</span></a>
                <ul>
                    <li><span class="description">{{ allergene.description}}</span></li>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
