{% extends 'base.html.twig' %}

{% block title %}{{ allergene.nom }}{% endblock %}

{% block body %}

    <div class="container mb-4">
        <h1>{{ allergene.nom }}</h1>
        {% if allergene.ingredients is not empty %}
            <ul class="list-group">
                {% for ingredient in allergene.ingredients %}
                    <li class="list-group-item">
                        <span class="ingredient">{{ ingredient.nom }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="mt-3">Aucun ingrédient associé à cet allergène.</p>
        {% endif %}
    </div>

{% endblock %}