{% set title = "Nouvelle etape de :" %}

{% extends 'base.html.twig' %}

{% block body %}

    <div style="text-align: center;">
    <h1>
        {{ title }} {{ recette.nom }}
    </h1>
        <h3>
            Votre etape a bien été créée !
        </h3>
            <p>
                Souhaitez vous ajouter une autre etape a votre recette ?
            </p>
        <a href="{{ path('app_etape_create',{id : recette.id}) }}" class="btn btn-dark"> OUI </a>
    </div>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}