{% set title = "Nouvelle etape " %}

{% extends 'base.html.twig' %}

{% block body %}

    <h1 style="text-align: center;">
        {{ title }}
    </h1>
        <h3 class="h3 m-3 font-weight-normal" style="text-align: center;">
            Votre etape a bien été créée !
        </h3>
            <p style="text-align: center;">
                Souhaitez vous ajouter une autre etape a votre recette ?
            </p>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}