{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Les catégories</h1>

    <ul>
        {% for categorie in categories %}
            <li><span class="recette">{{ categorie.nom }}</span></li>
        {% endfor %}
    </ul>
{% endblock %}
