{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Les catégories de recette</h1>

    <div class="row justify-content-around">
        {% for categorie in categories %}
            <div class="col-md-4 col-sm-6">
                <a href="/categorie/{{ categorie.id }}">
                <span style="background-color:#BAA898; border-radius: 10px; display: block; text-align: center; margin-bottom: 10px;">
                    {{ categorie.nom }}
                </span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
