{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Toutes les recettes par catégorie</h1>

        {% for categorie in categories %}
                <a class="btn btn-primary m-3 w-100 p-3" href="/categorie/{{ categorie.id }}" role="button"
                   style="background-color:#BAA898; border: none; color: black">
                    <span> {{ categorie.nom }}s </span>
                </a>
        {% endfor %}
{% endblock %}
