{% extends 'base.html.twig' %}

{% block title %}{{ categorie.nom }}s{% endblock %}

{% block body %}

    <h1>Les {{ categorie.nom|lower }}s</h1>

    {% include 'recette/_recettes.html.twig' %}

{% endblock %}
