{% extends 'base.html.twig' %}

{% set nomPrenom = user.nom | capitalize ~ ' ' ~ user.prenom | capitalize %}

{% block title %}
    Suppression de {{ nomPrenom }}
{% endblock %}

{% block body %}

    <h1>Suppression de {{ nomPrenom }}</h1>

{% endblock %}


