{% extends 'base.html.twig' %}

{% block title %}
    Suppression de {{ user.nom | capitalize }} {{ user.prenom | capitalize }}
{% endblock %}

{% block body %}

    <h1>Suppression de {{ user.nom | capitalize }} {{ user.prenom | capitalize }}</h1>

{% endblock %}


