{% extends 'base.html.twig' %}

{% set nomPrenom = user.nom | capitalize ~ ' ' ~ user.prenom | capitalize %}

{% block title %}Édition de {{ nomPrenom }}{% endblock %}

{% block body %}

    <h1>Édition de {{ nomPrenom }}</h1>

{% endblock %}
